*
{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.clock
{
    position:relative;
    width:100%;
    height:100vh;
    background:black;
    color:white;
    .clockinner
    {
        position:relative;
        width:20%;
        height:10%;
        top:45%;
        left:40%;
        font-size: 30px;
        border: 2px solid white;
        text-align: center;
        p{
            margin-top: 17px;
            color:red;
        }
    }
    .stopwatch
    {
        position:relative;
        top:55%;
        margin-left:43%;
        font-size: 30px;
       
        button{
            position:relative;
            text-align: center;
            width:15%;
            left:4.5%;
        }
        .ong
        {
            position:relative;
            left:-4%;
        }
        .ong1
        {
            position:relative;
            left:-3%;
        }
    }
}